body {
	font-family: Raleway,"Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
	font-size: 1.125rem;
	line-height: 1.618;
	margin: 0; /* because html allways add space on new documents*/
}

h1 {
	font-weight: 900;
	font-size: 3.3rem;
	line-height: 1.35;
	margin: 0.8em 0;
}

h2 {
	font-weight: 800;
	font-size: 2.3rem;
	line-height: 1.45;
	margin: 1em 0;
}

h3 {
	font-weight: 700;
	font-size: 1.85rem;
	line-height: 1.6;
	margin: 1.3em 0;
}

h4 {
	font-weight: 700;
	font-size: 1.55rem;
	line-height: 1.7;
	margin: 1.5em 0;
}

h5 {
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 1.6;
	margin: 1.6em 0;
}

h6 {
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.6;
	margin: 1.6em 0;
}

img {
	max-width: 100%; /*shoudn't be larger than the container inside*/
	height: auto; /*correct aspect ratio of every image resized by the browser*/
}

header, footer {
	text-align: center; /*align center inline elements*/
	padding: 2rem;
}

.hidden { /*later will understand this*/
	clip: rect(1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.wrapper { /*set the size of the content, with % they allways respond to the size of the screen*/
	width: 100%;
	max-width: 80rem;
	margin: 0 auto; /*shorthand - most common used*/
	/*equal width - that will center, work woth block elements
	margin-left: auto; 
	margin-right: auto; */
	padding: 5rem;
	box-sizing: border-box;/* default is content-box that pushes the column down*/
	border-style: solid; /*add a border outside our box, just for design*/
	border-width: 0.1875rem; /* if increase or decrease the border stay in place*/
}

.col_01 {
	width: 62.5%;
	float: left; /*alignment - set the side*/ 
}

.col_01 > :first-child {/* target only children inside the left column*/
	margin-top: 0; /* headind lies on the top of our image*/
}

.col_02 {
	width: 37.5%;
	float: right;
	padding-left: 5rem; /*the box-model puxes the other column down*/
	box-sizing: border-box; /*same as the wrapper*/
}

.image_frame { /**makes a boarder around the image frame*/
	box-sizing: border-box; /*same as the wrapper*/
	padding: 0.75rem;
	border-style: solid; /*same as the wrapper*/
	border-width: 0.1875rem; /*same as the wrapper*/
}

/*because we are using float left and right 
.clear {
	clear: both; 
	} */

.clearfix:before,
.clearfix:after {
	content:"";
	display: table;
}

.clearfix:after {
	clear: both;
}

@media (max-width: 85rem) {/*@media to know the breaking points the value is same as the wrapper plus the padding*/
	body {
		padding: 0 2.5rem;
	}
}

@media (max-width: 80rem) {/*at some point there is too much space between columns*/
	.wrapper {
		padding: 4.5rem;
	}
	.col_02 { /*padding to the same amout*/
		padding-left: 4.5rem;
	}
}

@media (max-width: 75rem) {/*space between columns*/
	.wrapper {
		padding: 4rem;
	}
	.col_02 { /*padding to the same amout*/
		padding-left: 4rem;
	}
}

@media (max-width: 70rem) {/*space between columns*/
	.wrapper {
		padding: 3.5rem;
	}
	.col_02 { /*padding to the same amout*/
		padding-left: 3.5rem;
	}
}

@media (max-width: 65rem) {/*space between columns*/
	.wrapper {
		padding: 3rem;
	}
	.col_02 { /*padding to the same amout*/
		padding-left: 3rem;
	}
}

@media (max-width: 60rem) { /*960 (size of screen here collapse)/16 (font-size)=60 so it's the point for single column*/
	h1 {
		font-size: 5.6vw;/*allows to size text to the viewport - vw*, media queries + vw = good responsive site*/
	}
	h2 {
		font-size: 3.9vw;
	}
	.wrapper {/*last media querie we say to apply padding to 65rem, so we have to change it*/
		padding: 4rem;
	}
	.col_01, .col_02 { /*these two classes it's because he are float one to left an another to the right*/
		float: none; /*remove float behavior*/
		width: 100%;
	}
	.col_02 { /*to remove the padding on the left*/
	padding-left: 0;
	padding-top: 4rem; /*because we have too small space between the section and the aside*/
	}
}  

@media (max-width: 55rem) { /*keeps shriking as we get smaller*/
	.wrapper {
		padding: 3.5rem;
	}
}

@media (max-width: 45rem) { /*keeps shriking as we get smaller*/
	body {
		padding: 0; /*remove the body padding at this small amout of space*/
	}
	h1 {
		font-size: 6.5vw;/* this the headers don't get small then the text*/
	}
	h2 {
		font-size: 5vw;
	}
	.wrapper {
		padding: 3rem;
	}
}

@media (max-width: 35rem) { /*keeps shriking as we get smaller*/
	.wrapper {
		padding: 2.5rem;
	}
}