body {
	font-family: Raleway,"Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
	font-size: 1.125rem;
	line-height: 1.618;
}

h1 {
	font-weight: 900;
	font-size: 3.3rem;
	line-height: 1.35;
	margin: 0.8em 0;
}

h2 {
	font-weight: 800;
	font-size: 2.3rem;
	line-height: 1.45;
	margin: 1em 0;
}

h3 {
	font-weight: 700;
	font-size: 1.85rem;
	line-height: 1.6;
	margin: 1.3em 0;
}

h4 {
	font-weight: 700;
	font-size: 1.55rem;
	line-height: 1.7;
	margin: 1.5em 0;
}

h5 {
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 1.6;
	margin: 1.6em 0;
}

h6 {
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.6;
	margin: 1.6em 0;
}

img {
	max-width: 100%; /*shoudn't be larger than the container inside*/
	height: auto; /*correct aspect ratio of every image resized by the browser*/
}

header, footer {
	text-align: center; /*align center inline elements*/
}

.hidden { /*later will understand this*/
	clip: rect(1px);
	position: absolute !important;
	height: 1px;
	width: 1 px;
	overflow: hidden;
}

.wrapper { /*set the size of the content, with % they allways respond to the size of the screen*/
	width: 100%;
	max-width: 80rem;
	margin: 0 auto; /*shorthand - most common used*/
	/*equal width - that will center, work woth block elements
	margin-left: auto; 
	margin-right: auto; */
}

.col_01 {
	width: 62.5%;
	float: left; /*alignment - set the side*/ 
}

.col_02 {
	width: 37.5%;
	float: right;
}

/*because we are using float left and right 
.clear {
	clear: both; 
	} */

.clearfix:before,
.clearfix:after {
	content:"";
	display: table;
}

.clearfix:after {
	clear: both;
}